{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ base_url('/assets/css/style.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ base_url('/assets/favicon.ico') }}" />
<style>
.list_table {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
}

.list_table td, th {
    border: 1px solid #ccc;
    padding: .25rem;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
    background-color: #eee;
    border-color: #ccc;
}
</style>
{% endblock %}

{% block body %}
    <h1>{{ pageHeading }}</h1>
    <p class="lead">Of course you can test the api through <strong><i>Postman Extension</i></strong>. <a href="/test/show_postman">It just like this</a>. <br />But to save your time, I have prepared the form for your quick testing.</p>

    <div class="main-content">
        <h3>Movie List</h3>

        <div class="row col-12">
            <table class="list_table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Genre Type</th>
                    <th>Description</th>
                    <th>Actors</th>
                    <th>Release Date</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre_type }}</td>
                    <td>{{ movie.description }}</td>
                    <td>
                    {% for item in movie.actors %}
                        {{ item.actor_name }}, 
                    {% endfor %}
                    </td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.created_at }}</td>
                    <td>{{ movie.updated_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div><!-- /.row -->
    </div><!-- ./main-content -->

    <h1>API Testing</h1>

    <div class="main-content">
        <h3>GET</h3>

        <div class="form-group">
            <div class="col-xs-10">
                <form name="get_form">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Endpoint: {{ base_url('api/movie') }}</label>
                        <input type="text" class="form-control" id="get_movie_id" placeholder=""/>
                    </div>
                    <div class="form-group">
                        &nbsp;&nbsp;<button type="submit" class="btn btn-info" id="btn_get">&nbsp;SEND&nbsp;</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <h3>POST</h3>
        <div class="form-group">
            <div class="col-xs-10">
                <form name="post_form" action="{{ base_url('api/movie') }}" method="post">
                <label>Endpoint: {{ base_url('api/movie') }}</label>
                <div class="form-inline">  
                    <div class="form-group">
                        <label class="col-sm-3">Title</label>  
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" id="title" />  
                        </div>
                    </div>
                </div>  
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-3">Genre Type</label>
                        <div class="col-sm-9">
                            <select id="genre_type_id" name="genre_type_id">
                                <option value=""></option>
                                {% for item in genres %}
                                    <option value="{{ item.type_id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-3">Description</label>
                        <div class="col-sm-9">
                            <textarea id="description" name="description" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-3">Actors</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="actors" id="actors" />
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-3">Release Date</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="release_date" id="release_date" />
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-info" id="btn_get">&nbsp;SEND&nbsp;</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div><!-- ./form-group -->

        <h3>PUT</h3>
        

        <h3>DELETE</h3>
        
        


    </div><!-- ./main-content -->

{% endblock %}

{% block javascripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var base_url = '{{ base_url('api/movie') }}';

            $( "#btn_get" ).click(function() {
                var endpoint = base_url;
                var movie_id = $( "#get_movie_id" ).val();

                if (movie_id != null || movie_id != NULL ) {
                    endpoint = endpoint + '/' + movie_id;
                }

                window.open(endpoint);
            });

            $( "#btn_delete" ).click(function() {
                var endpoint = base_url;
                var delete_id = $( "#delete_id" ).val();

                endpoint = endpoint + '/' + delete_id;

                $.ajax({
                    url: endpoint,
                    type: 'DELETE',
                    success: function(result) {
                        alert "Delete success.";
                    }
                });

            });
        });
    </script>
{% endblock %}